@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: DM sans;
}
body {
  font-size: 1.5rem;
  line-height: 1.867;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Sans", system-ui;
}
a {
  text-decoration: none;
}
.wrapper {
  max-width: 85vw;
  margin-inline: auto;
}
.links-container {
  display: none;
}
.nav-div {
  height: 72px;
  place-content: center;
  width: 100%;
}
.nav-right {
  display: none;
}
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu {
  margin-top: -14px;
}
.btn,
.btn-input {
  font-size: 15px;
  background-color: #000000;
  color: #ffffff;
  padding: 14px 69px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: grid;
  width: 310px;
}
.btn:hover,
.btn-input:hover {
  background-color: #dfdfdf;
  color: #000000;
}
ul {
  list-style: none;
  display: grid;
  place-items: center;
  gap: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}
ul li .links {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}
.mobile-links {
  color: #000000;
  font-size: 15px;
  font-family: "DM Sans", system-ui;
  font-weight: bold;
}
.underline {
  background-color: rgba(151, 151, 151, 0.5);
  width: 80vw;
  height: 1px;
  margin-top: 10px;
}
.sidebar-invisible {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: width 0.2s ease-in-out;
}
.sidebar-invisible .mobile-nav {
  opacity: 0;
}
.sidebar-visible {
  top: 0;
  background-color: #ffffff;
  z-index: 1000;
  position: fixed;
  left: 0;
  margin-top: 66px;
  height: 253px;
  width: 100%;
}
.nav-overlay {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 99;
  margin-top: 48px;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 99;
}
